h3>Congratulations on registering on the Flavors & Forks platform.</h3>

<p>Click on the link below to activate your account:</p>

<a target="_blank" href="{% if request.is_secure %}https{% else %}http{% endif %}://{{ domain }}{% url 'activate' uidb64=uid token=token %}">Activation link</a>

<p>Please note that the activation link is valid for 5 minutes. If you do not activate your account within this time, you will need to register again.</p>

<p>
  <strong>
    Sincerely, <br>
    The Flavors & Forks team.
  </strong>
</p>